<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if tag.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', tag, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if tag.persisted? %>
      <%= link_to "Cancel", tag, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", tags_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>

