<div class="row">
    <div class="col-sm">
      <h1>Posts</h1>
    </div>
    <div class="col-sm text-right mt-2">
      <%= link_to new_post_path, class: 'btn btn-primary', method: :get do %>
        Criar Post
      <% end %>
    </div>
</div>

<table class="table table-bordered table-hover">
  <thead> 
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Conteúdo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th scope="row"><%= post.id %></th>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Mostrar', post, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>